.home {
    display: flex;
    align-items: center;
    justify-content: center;
    .searchResult {
        width: 100%;
        min-height: calc(100vh - 82px);
        color: #444;
        font-size: 15px;
        padding-right: 30px;
        flex:1;
        .title {
            margin-top: 0px;
            margin-bottom: 20px;
            font-size:24px;
            font-weight: normal;
            color: #222;
        }
    }
}
@media (max-width:768px){
    .home {
        .searchResult{
            padding:0px;
        }
    } 
}