$primary-color: var(--primary-color);
$primary-color-dark: var(--primary-color-dark);
$secondary-color: #6d98f9;
$secondary-color-dark: #5084fb;
$secondary2-color: #aca3ff;
$secondary2-color-dark: #8578ff;
$dark-color: #454952;
$dark-color-dark: #33363e;

.buttons {
  box-shadow: 0px 0px 0px;
  padding: 0px 15px;
  border-radius: 50px;
  height:52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-transform: uppercase;
  transition:.2s all;
  width: 100%;
  &:disabled,
  &[disabled]{
    opacity: .5;
    cursor: auto;
  }

  &.primaryOutline {
    color: $primary-color;
    border: 2px solid $primary-color;
    background-color: #fff;
    &:hover {
      background-color: $primary-color;
      color: #fff
    }
  }
  &.message {
    margin: 10px 0 0px 0;
    height: 44px;
    padding: 0;
    display: flex;
    align-items: center;
    padding: 0px;
    color: #fff;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 600;
    border-top: 1px solid rgba(255,255,255,0.32);
    // background-color: #54bedf;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    cursor: pointer;
    button{
      background-color:transparent;
      color: #fff;
      font-size: 13px;
      height: 45px;
      width:100%;
      font-weight: 600;
      text-transform: uppercase;
    }
    span {
      flex: 1;
      display: flex;
      justify-content:center;
      align-items: center;
    }
    i{
      border-radius: 0 5px 5px 0;
      background: #42a3c1;
      height: 100%;
      padding: 0 8px;
      margin-left: auto;
      font-size: 22px;
      display: flex;
      align-items: center;
      cursor: pointer;
      &.active{
        background: #f1f2f5!important;
        color: #f3d227
      }
    }
    &:hover {
      background-color: $primary-color;
      color: #fff
    }
  }
  &.danger {
    color: #fff;
    background-color: #f56667;
    &:hover {
      background-color: #f13e3f;
      color: #fff
    }
  }
  &.blue {
    color: #fff;
    background-color: #3498da;
    &:hover {
      background-color: #5fa9da;
      color: #fff
    }
  }
  &.orange {
    background-color: #f39c12;
    color: #fff;
    &:hover {
      background-color: #e67e22;
    }
  }
  &.danger_2 {
    color: #fff;
    background-color: #dc3545;
    &:hover {
      background-color: #bd2130;
      color: #fff
    }
  }
  &.primary {
    color: #fff;
    background-color: $primary-color;
    &:hover {
      background-color: $primary-color-dark;
      color: #fff
    }
  }
  &.secondary {
    color: #fff;
    background-color: var(--secondary-color);
    &:hover {
      background-color: var(--secondary-color-dark);
      color: #fff
    }
  }
  &.secondary2 {
    color: #fff;
    background-color: $secondary2-color;
    &:hover {
      background-color: $secondary2-color-dark;
      color: #fff
    }
  }
  &.gold {
    color: #fff;
    background-color: #f6c358;
    &:hover {
      background-color: #e8a34e;
      color: #fff
    }
  }
  &.dark {
    color: #fff;
    background-color: $dark-color;
    &:hover {
      background-color: $dark-color-dark;
      color: #fff
    }
  }
  &.success {
    padding: 12px 15px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background-color: var(--success-color);
    &:hover {
      background-color: var(--success-color-dark);
    }
  }
}


@media (max-width:991px){
  .buttons{
    &.message{
      margin-top: 0px;
    }
  }
}


